section {
    position: relative;
    overflow: hidden;
    &[class^="block-"]:not(.block-homescreen) {
        &:not(:last-child) {
            padding-top: $block-padding-y-desktop;
            padding-bottom: $block-padding-y-desktop;
            @include tablet {
                padding-top: $block-padding-y-tablet;
                padding-bottom: $block-padding-y-tablet;
            }
            @include mobile {
                padding-top: $block-padding-y-mobile;
                padding-bottom: $block-padding-y-mobile;
            }
        }
        &:last-child {
            padding-top: $block-padding-y-smaller-desktop;
            padding-bottom: $block-padding-y-smaller-desktop;
            @include mobile {
                padding-top: $block-padding-y-smaller-mobile;
                padding-bottom: $block-padding-y-smaller-mobile;
            }
        }
    }
    .block-head {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 30px;
        @include mobile {
            display: grid;
            grid-template-columns: 1fr;
            gap: 16px;
        }
        .title-descr {
            margin-right: 48px;
            @include mobile {
                margin-right: 0;
                margin-left: 0;

            }
        }
    }
}

.block-homescreen {
    padding-top: 204px;
    padding-bottom: 116px;
    @include tablet {
        padding-top: 160px;
    }
    @include mobile {
        padding-top: 144px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn {
        margin-top: 36px;
        @include mobile {
            width: 100%;
        }
    }

    .video-wrapper {
        margin-top: 64px;
        width: 100%;
        max-width: 1048px;
        position: relative;
        overflow: hidden;
        border-radius: 24px;
        @include mobile {
            margin-top: 56px;
        }
    }
    .video {
        width: 100%;
    }
    .video-play {
        // width: 80px;
        // height: 80px;
        // border: 0;
        // background-color: transparent;
        // background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 0C17.9431 0 0 17.9431 0 40C0 62.0569 17.9431 80 40 80C62.0569 80 80 62.0569 80 40C80 17.9431 62.0569 0 40 0Z' fill='%23E4EEFF'/%3E%3Cpath d='M40 12C24.5602 12 12 24.5602 12 40C12 55.4398 24.5602 68 40 68C55.4398 68 68 55.4398 68 40C68 24.5602 55.4398 12 40 12Z' fill='%23267AFF'/%3E%3Cpath d='M38.0741 47.0632C37.4116 47.5296 36.4984 47.0558 36.4984 46.2455L36.4982 33.2483C36.4982 32.411 37.4658 31.9444 38.1209 32.4659L46.7865 39.3625C47.3086 39.778 47.2851 40.5786 46.7395 40.9627L38.0741 47.0632Z' fill='white'/%3E%3C/svg%3E%0A");
        // border-radius: 50%;
        // background-size: 100% 100%;
        // transition: $duration;
        // position: absolute;
        // z-index: 2;
        // top: calc(50% - 40px);
        // left: calc(50% - 40px);
        // @media (hover: hover) {
        //     &:hover {
        //         transform: scale(1.1);
        //     }
        // }
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        // background: url('../video/welcome-poster.gif');
        // background-size: cover;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: '';
            width: 80px;
            height: 80px;
            border: 0;
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40 0C17.9431 0 0 17.9431 0 40C0 62.0569 17.9431 80 40 80C62.0569 80 80 62.0569 80 40C80 17.9431 62.0569 0 40 0Z' fill='%23E4EEFF'/%3E%3Cpath d='M40 12C24.5602 12 12 24.5602 12 40C12 55.4398 24.5602 68 40 68C55.4398 68 68 55.4398 68 40C68 24.5602 55.4398 12 40 12Z' fill='%23267AFF'/%3E%3Cpath d='M38.0741 47.0632C37.4116 47.5296 36.4984 47.0558 36.4984 46.2455L36.4982 33.2483C36.4982 32.411 37.4658 31.9444 38.1209 32.4659L46.7865 39.3625C47.3086 39.778 47.2851 40.5786 46.7395 40.9627L38.0741 47.0632Z' fill='white'/%3E%3C/svg%3E%0A");
            border-radius: 50%;
            background-size: 100% 100%;
            transition: $duration;
            position: absolute;
            z-index: 2;
            top: calc(50% - 40px);
            left: calc(50% - 40px);
            @include mobile {
                width: 56px;
                height: 56px;
                top: calc(50% - 28px);
                left: calc(50% - 28px);
            }
        }
        @media (hover: hover) {
            &:hover {
                &::after {
                    transform: scale(1.1);
                }
            }
        }
        &.is-hidden {
            display: none;
        }
    }
}

.block-steps {
    // position: relative;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .steps-list {
        margin-top: 48px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 20px;
        @include mobile {
            margin-top: 36px;
            grid-template-columns: 1fr;
            grid-gap: 16px;
        }
    }
    // .swiper {
    //     &-container {
    //         margin-top: 48px;
    //     }
    //     &-wrapper {
    //         display: grid;
    //         grid-template-columns: repeat(3, minmax(0, 1fr));
    //         grid-gap: 20px;
    //     }
    // }

    .step-item {
        background-color: $light-bg;
        border-radius: 24px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 535px;
        padding: 8px 32px 32px;
        height: 100%;
        position: relative;
        overflow: hidden;
        @include mobile {
            padding: 20px;
            min-height: 490px;
        }
        // @media (hover: hover) {
        //     &:hover {
        //         // &::after {
        //         //     transform: rotate(-45deg);
        //         // }
        //         .step-item-overlay {
        //             top: 0;
        //             opacity: 1;
        //         }
        //     }
        // }
        &:hover {
            .step-item-overlay {
                top: 0;
                opacity: 1;
            }
        }
        &::after {
            content: '';
            position: absolute;
            top: 32px;
            right: 32px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $blue;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath d='M26.8431 25.2947C26.8431 25.6855 26.6879 26.0604 26.4115 26.3367C26.1351 26.6131 25.7603 26.7684 25.3695 26.7684L13.58 26.842C13.1891 26.842 12.8143 26.6868 12.5379 26.4104C12.2616 26.134 12.1063 25.7592 12.1063 25.3684C12.1063 24.9775 12.2616 24.6027 12.5379 24.3263C12.8143 24.0499 13.1891 23.8947 13.58 23.8947H21.7737L9.5863 11.6778C9.44818 11.5408 9.33854 11.3778 9.26373 11.1983C9.18891 11.0187 9.15039 10.8261 9.15039 10.6315C9.15039 10.437 9.18891 10.2444 9.26373 10.0648C9.33854 9.88519 9.44818 9.7222 9.5863 9.5852C9.7233 9.44707 9.88629 9.33744 10.0659 9.26262C10.2455 9.18781 10.4381 9.14929 10.6326 9.14929C10.8272 9.14929 11.0198 9.18781 11.1994 9.26262C11.3789 9.33744 11.5419 9.44707 11.6789 9.5852L23.8958 21.802V13.5789C23.8958 13.188 24.051 12.8132 24.3274 12.5368C24.6038 12.2605 24.9786 12.1052 25.3695 12.1052C25.7603 12.1052 26.1351 12.2605 26.4115 12.5368C26.6879 12.8132 26.8431 13.188 26.8431 13.5789V25.2947Z' fill='white'/%3E%3C/svg%3E%0A");
            background-size: 36px 36px;
            background-repeat: no-repeat;
            background-position: center;
            // transition: $duration;
            @include mobile {
                width: 48px;
                height: 48px;
                top: 20px;
                right: 20px;
                background-size: 30px 30px;
            }
        }
        &-number {
            display: flex;
            align-items: flex-start;
            font-size: 92px;
            line-height: 1.3;
            font-weight: 400;
            margin-bottom: auto;
            @include mobile {
                font-size: 64px;
            }
            span {
                padding-top: 16px;
                padding-left: 4px;
                font-size: 16px;
                line-height: 28px;
                @include mobile {
                    padding-top: 4px;
                    padding-left: 0;
                    font-size: 14px;
                }
            }
        }
        &-title {
            margin-top: 24px;
            font-size: 32px;
            line-height: 1.3;
            font-weight: 400;
            @include mobile {
                font-size: 30px;
            }
        }
        &-image {
            margin-top: 24px;
            img {
                width: 100%;
                height: 184px;
                border-radius: 16px;
                object-fit: cover;
            }
        }
        &-overlay {
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background-color: $blue;
            // background-image: url('../img/step-card-overlay-figure-desktop.svg');
            background-image: url('../img/step-card-overlay-figure-mobile.svg');
            background-position: top right;
            background-repeat: no-repeat;
            // background-size: 400px 236px;
            background-size: 100% auto;
            padding: 32px;
            color: #fff;
            opacity: 0;
            transition: $duration;
            z-index: 2;
            @include mobile {
                padding: 24px;
                // background-image: url('../img/step-card-overlay-figure-mobile.svg');
                // background-size: 100% auto;
            }
        }
        &-label {
            display: flex;
            align-items: center;
            height: 44px;
            border-radius: 44px;
            padding: 0 24px;
            background-color: #fff;
            margin-bottom: auto;
            color: $text-base;
        }
        &-descr {
            margin-top: 26px;
            list-style: none;
            li {
                line-height: 1.5;
                padding-left: 24px;
                position: relative;
                @include mobile {
                    font-size: 14px;
                    padding-left: 20px;
                }
                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #fff;
                    position: absolute;
                    left: 9px;
                    top: 10px;
                    @include mobile {
                        width: 4px;
                        height: 4px;
                        left: 8px;
                        top: 9px;
                    }
                }
            }
        }
    }
}

.block-features {
    // overflow: hidden;
    .bg {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        @include mobile {
            top: initial;
            bottom: 100vw;
            padding: 0 $container-padding-x-mobile;
            left: 0;
            right: 0;
            transform: initial;
        }
        svg {
            @include mobile {
                width: 100%;
            }
        }
    }
    .tabs-wrapper {
        margin-top: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 12px;
        row-gap: 16px;
        position: relative;
        z-index: 2;
        @include mobile {
            margin-top: 36px;
            grid-template-columns: 1fr;
            row-gap: 24px;
        }
    }
    .tab-selectors {
        display: flex;
        align-items: center;
        @include mobile {
            flex-direction: column;
        }
    }
    .tab-selector {
        // padding-left: 48px;
        padding-left: 44px;
        // padding-right: 24px;
        padding-right: 20px;
        height: 44px;
        border-radius: 28px;
        border: 1px solid currentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        cursor: pointer;
        transition: $duration;
        @media (hover: hover) {
            &:hover {
                border-color: $blue;
                color: $blue;
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 14' %3E%3Cpath d='M6.5 0.703247L8.85325 4.72033L13 7L8.85325 9.27967L6.5 13.2968L4.14675 9.27967L0 7L4.14675 4.72033L6.5 0.703247Z' fill='%23267AFF'/%3E%3C/svg%3E%0A");
                }
            }
        }
        @include mobile {
            padding-left: 48px;
            padding-right: 24px;
        }

        &:not(:last-child) {
            margin-right: 16px;
            @include mobile {
                margin-right: 0;
                margin-bottom: 16px;
            }
        }
        &.active {
            background-color: $blue;
            border-color: $blue;
            color: #fff;
            pointer-events: none;
            &::before {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 14' %3E%3Cpath d='M6.5 0.703247L8.85325 4.72033L13 7L8.85325 9.27967L6.5 13.2968L4.14675 9.27967L0 7L4.14675 4.72033L6.5 0.703247Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
            }
        }

        &::before {
            content: '';
            position: absolute;
            // left: 24px;
            left: 20px;
            top: calc(50% - 7px);
            width: 13px;
            height: 14px;
            background-size: 100% 100%;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 14' %3E%3Cpath d='M6.5 0.703247L8.85325 4.72033L13 7L8.85325 9.27967L6.5 13.2968L4.14675 9.27967L0 7L4.14675 4.72033L6.5 0.703247Z' fill='%231F2022'/%3E%3C/svg%3E%0A");
        }
    }
    .tab {
        display: none;
        &.active {
            display: block;
        }
    }

    .info-group {
        border-radius: 24px;
        background-color: #fff;
        padding: 32px;
        @include mobile {
            padding: 20px 16px;
        }
    }
    .info-item {
        display: flex;
        align-items: flex-start;
        &:not(:last-child) {
            padding-bottom: 20px;
            border-bottom: 1px solid $light-bg;
            @include mobile {
                padding-bottom: 16px;
            }
        }
        &:not(:first-child) {
            padding-top: 36px;
            @include mobile {
                padding-top: 24px;
            }
        }
        &-icon {
            width: 44px;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $blue;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 12px;
            @include mobile {
                width: 36px;
                height: 36px;
            }
            svg {
                @include mobile {
                    max-width: 20px;
                    max-height: 20px;
                }
            }
        }
        &-info {
            padding-top: 6px;
        }
        &-title {
            font-size: 24px;
            line-height: 1.3;
            @include mobile {
                font-size: 19px;
            }
        }
        &-descr {
            margin-top: 16px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 12px;
            line-height: 1.3;
            @include mobile {
                margin-left: -48px;
            }
            span {
                &:nth-child(2):nth-last-child(-n+2):not(:last-child) {
                    grid-column: 2;
                    grid-row-start: 1;
                    grid-row-end: span 3;
                    @include mobile {
                        grid-row: 2;
                        grid-column-start: 1;
                        grid-column-end: span 2;
                    }
                }
            }
        }
    }


    .figure {
        position: relative;
        display: flex;
        justify-content: center;
        grid-column: 2;
        grid-row-start: 1;
        grid-row-end: span 3;
        @include mobile {
            margin-top: 45px;
            grid-column: initial;
            grid-row: initial;
        }
        img {
            @include mobile {
                max-width: 290px;
            }
        }
    }

    .markers-type-group {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        pointer-events: none;
        transition: $duration;
        &:nth-of-type(1) {
            .marker-item {
                &:nth-child(1) {
                    top: 4px;
                    left: calc(50% - 22px);
                    @include mobile {
                        top: -34px;
                        flex-direction: column-reverse;
                        align-items: flex-start;
                    }
                    .marker-item-title {
                        margin-left: 90px;
                        @include mobile {
                            margin-left: 90px;
                            margin-bottom: 21px;
                        }
                        &::before {
                            width: 90px;
                            height: 2px;
                            right: 100%;
                            top: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='113' height='2' viewBox='0 0 113 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H112' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                background-image: url("data:image/svg+xml,%3Csvg width='70' height='61' viewBox='0 0 70 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M28 1H69' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M1 60L28 1' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                                width: 70px;
                                height: 61px;
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    top: 288px;
                    left: calc(50% - 22px);
                    @include mobile {
                        top: 261px;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    .marker-item-title {
                        margin-left: 90px;
                        @include mobile {
                            margin-left: 94px;
                            margin-top: 175px;
                        }
                        &::before {
                            width: 140px;
                            height: 2px;
                            right: 100%;
                            top: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='113' height='2' viewBox='0 0 113 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H112' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                background-image: url("data:image/svg+xml,%3Csvg width='74' height='214' viewBox='0 0 74 214' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M64.5 213.5H73' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M1 1L64 213' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                                width: 74px;
                                height: 214px;
                                top: initial;
                                bottom: calc(50% - 1px);
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    flex-direction: column;
                    align-items: flex-end;
                    top: 410px;
                    right: calc(50% + 16px);
                    @include mobile {
                        top: 398px;
                    }
                    .marker-item-title {
                        margin-top: 88px;
                        margin-right: 122px;
                        @include mobile {
                            margin-top: 181px;
                            margin-right: 29px;
                        }
                        &::before {
                            width: 98px;
                            height: 134px;
                            left: 100%;
                            bottom: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='98' height='134' viewBox='0 0 98 134' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M97 1L38 133H1' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                background-image: url("data:image/svg+xml,%3Csvg width='71' height='206' viewBox='0 0 71 206' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70 1L1 205' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                                width: 71px;
                                height: 206px;
                                left: calc(50% - 1px);
                                bottom: 100%;
                            }
                        }
                    }
                }
            }
        }
        &:nth-of-type(2) {
            .marker-item {
                &:nth-child(1) {
                    top: 114px;
                    left: calc(50% - 22px);
                    .marker-item-title {
                        margin-left: 90px;
                        @include mobile {
                            margin-left: 45px;
                        }
                        &::before {
                            width: 90px;
                            height: 2px;
                            right: 100%;
                            top: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='113' height='2' viewBox='0 0 113 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H112' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                width: 45px;
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    flex-direction: row-reverse;
                    top: 257px;
                    right: calc(50% + 16px);
                    @include mobile {
                        right: calc(50% - 22px);
                    }
                    .marker-item-title {
                        margin-right: 90px;
                        @include mobile {
                            margin-right: 45px;
                        }
                        &::before {
                            width: 126px;
                            height: 2px;
                            left: 100%;
                            top: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='113' height='2' viewBox='0 0 113 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1H112' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                width: 45px;
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    flex-direction: column;
                    align-items: flex-start;
                    top: 404px;
                    left: calc(50% + 16px);
                    @include mobile {
                        top: 375px;
                        left: calc(50% + 20px);
                    }
                    .marker-item-title {
                        margin-top: 85px;
                        margin-left: 157px;
                        @include mobile {
                            margin-top: 44px;
                            margin-left: 66px;
                        }
                        &::before {
                            width: 133px;
                            height: 114px;
                            right: 100%;
                            bottom: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='133' height='114' viewBox='0 0 133 114' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M132.5 113.5H91' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M1 1L89 112' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                width: 44px;
                                height: 59px;
                                background-image: url("data:image/svg+xml,%3Csvg width='44' height='59' viewBox='0 0 44 59' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.5 58.5H43' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M1 1L34.4758 57.9359' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    flex-direction: column;
                    align-items: flex-end;
                    top: 470px;
                    right: calc(50% + 32px);
                    @include mobile {
                        right: calc(50% + 12px)
                    }
                    .marker-item-title {
                        margin-top: 88px;
                        margin-right: 122px;
                        @include mobile {
                            margin-top: 15px;
                            margin-right: 42px;
                        }
                        &::before {
                            width: 91px;
                            height: 139px;
                            left: 100%;
                            bottom: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='91' height='139' viewBox='0 0 91 139' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M90 1L32 138.5H0.5' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                width: 22px;
                                height: 40px;
                                background-image: url("data:image/svg+xml,%3Csvg width='22' height='40' viewBox='0 0 22 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 38.5H9' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M21 1L9 39' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            }
                        }
                    }
                }
            }
        }
        &:nth-of-type(3) {
            .marker-item {
                flex-direction: column-reverse;
                align-items: flex-end;
                &:nth-child(1) {
                    top: 103px;
                    right: calc(50% + 24px);
                    @include mobile {
                        top: 50px;
                        right: calc(50% - 52px);
                    }
                    .marker-item-title {
                        margin-right: 104px;
                        margin-bottom: 63px;
                        &::before {
                            width: 83px;
                            height: 108px;
                            left: 100%;
                            top: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='83' height='108' viewBox='0 0 83 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31 1H1' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M31 1L82 107' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                        }
                    }
                }
                &:nth-child(2) {
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    top: 197px;
                    left: calc(50% + 75px);
                    .marker-item-title {
                        margin-left: 101px;
                        margin-bottom: 28px;
                        @include mobile {
                            margin-left: 7px;
                            margin-bottom: 61px;
                        }
                        &::before {
                            width: 83px;
                            height: 74px;
                            right: 100%;
                            top: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='83' height='74' viewBox='0 0 83 74' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M55 1H82' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M2.00108 73.0003L55 0.999998' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                width: 29px;
                                height: 61px;
                                right: calc(50% - 1px);
                                top: 100%;
                                background-image: url("data:image/svg+xml,%3Csvg width='29' height='61' viewBox='0 0 29 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 60L28 1' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    flex-direction: column;
                    align-items: flex-start;
                    top: 488px;
                    left: calc(50% + 32px);
                    @include mobile {
                        top: 430px;
                        left: calc(50% + 20px);
                    }
                    .marker-item-title {
                        margin-left: 143px;
                        @include mobile {
                            margin-top: 38px;
                            margin-left: 64px;
                        }
                        &::before {
                            width: 122px;
                            height: 89px;
                            right: 100%;
                            bottom: 3px;
                            background-image: url("data:image/svg+xml,%3Csvg width='122' height='89' viewBox='0 0 122 89' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.999826 21.0005L80.9999 68.0005' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M121 70H83' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                width: 44px;
                                height: 55px;
                                bottom: calc(50% - 1px);
                                background-image: url("data:image/svg+xml,%3Csvg width='44' height='55' viewBox='0 0 44 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 54L43 54' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M1 1L24 54' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    flex-direction: column;
                    align-items: flex-end;
                    top: 540px;
                    right: calc(50% + 24px);
                    @include mobile {
                        right: calc(50% + 9px);
                    }
                    .marker-item-title {
                        margin-top: 30px;
                        margin-right: 112px;
                        @include mobile {
                            margin-top: 62px;
                            margin-right: 66px;
                        }
                        &::before {
                            width: 91px;
                            height: 73px;
                            left: 100%;
                            bottom: calc(50% - 1px);
                            background-image: url("data:image/svg+xml,%3Csvg width='91' height='73' viewBox='0 0 91 73' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M90 1L37 72H1' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            @include mobile {
                                height: 78px;
                                width: 46px;
                                background-image: url("data:image/svg+xml,%3Csvg width='46' height='78' viewBox='0 0 46 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 77H17' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3Cpath d='M45 1L17 77' stroke='%23B0C6E7' stroke-linecap='round' stroke-linejoin='round' stroke-dasharray='3 3'/%3E%3C/svg%3E%0A");
                            }
                        }
                    }
                }
            }
        }
        &.active {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .marker-item {
        display: flex;
        align-items: center;
        position: absolute;
        // gap: 48px;
        &-icon {
            width: 44px;
            height: 44px;
            background-color: $dark-bg;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 16.5px rgba(#CBDCFE,.6);
            position: relative;
            z-index: 2;
            flex-shrink: 0;
        }
        &-title {
            min-height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 8px 24px;
            border: 1px solid #B0C6E7;
            border-radius: 44px;
            position: relative;
            backdrop-filter: blur(2px);
            @include mobile {
                padding: 8px 12px;
                min-height: 30px;
                font-size: 12px;
                line-height: 1.2;
                white-space: nowrap;
            }
            &::before {
                content: '';
                position: absolute;
            }
        }
    }

    .banner-text-group {
        margin-top: 96px;
    }
}

.block-advantages {
    // position: relative;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    *:is(.block-title.text-center, .title-descr) {
        @include mobile {
            text-align: left !important;
        }
    }
    .advantages {
        margin-top: 48px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        @include mobile {
            margin-top: 36px;
            grid-template-columns: 1fr;
            grid-gap: 16px;
        }

    }
    // .swiper {
    //     &-container {
    //         margin-top: 48px;
    //     }
    //     &-wrapper {
    //         display: grid;
    //         grid-template-columns: repeat(3, minmax(0, 1fr));
    //         grid-gap: 20px;
    //     }
    // }

    .advantage-item {
        background-color: $light-bg;
        border-radius: 24px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        min-height: 370px;
        padding: 32px;
        height: 100%;
        position: relative;
        @include mobile {
            padding: 24px;
        }
        &:nth-child(1) {
            .advantage-item-icon {
                svg {
                    max-width: 88px;
                    max-height: 88px;
                    @include mobile {
                        max-width: 68px;
                        max-height: 68px;
                    }
                }
            }
        }
        &:nth-child(2) {
            .advantage-item-icon {
                svg {
                    max-width: 62px;
                    max-height: 62px;
                    @include mobile {
                        max-width: 48px;
                        max-height: 48px;
                    }
                }
            }
        }
        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 124px;
            height: 124px;
            border-radius: 50%;
            background-color: $blue;
            @include mobile {
                width: 96px;
                height: 96px;
            }

        }
        &-number {
            width: 74px;
            height: 44px;
            border-radius: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid currentColor;
            @include mobile {
                width: 68px;
            }
        }
        &-title {
            // margin-top: 24px;
            margin-top: 34px;
            font-size: 32px;
            line-height: 1.3;
            font-weight: 400;
            align-self: flex-end;
            width: 100%;
            @include mobile {
                margin-top: 64px;
                font-size: 30px;
            }
        }
        &-descr {
            margin-top: 16px;
            line-height: 1.5;
        }
    }
}

.block-feedback {
    // overflow: hidden;

    .container {
        @include mobile {
            padding-bottom: 40px;
        }
    }
    .slider-controls {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
        align-items: center;
        // min-height: 54px;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }

    .slider-controls {
        @include mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    *:is(.prev-btn, .next-btn) {
        cursor: pointer;
        transition: $duration;
        display: flex;
        align-items: center;
        height: 64px;
        @media (hover: hover) {
            &:hover {
                color: $blue;
            }
        }
        @include mobile {
            height: 16px;
        }
    }
    .swiper {
        &-container {
            margin-top: 48px;
            @include mobile {
                margin-top: 32px;
            }
        }
        &-slide {
            height: auto;
            min-height: 310px;
            max-width: 665px;
            @include mobile {
                min-height: 234px;
                max-width: 100%;
            }
        }
    }

    .feedback-item {
        height: 100%;
        width: 100%;
        background-color: #fff;
        position: relative;
        border-radius: 24px;
        padding: 56px 66px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include mobile {
            padding: 24px;
        }
        &::before {
            content: '';
            width: 124px;
            height: 96px;
            position: absolute;
            right: 20px;
            bottom: 20px;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 124 96' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M124 -1.42762e-06V25.2632C124 32.9357 122.656 41.076 119.969 49.6842C117.188 58.386 113.203 66.7602 108.013 74.807C102.731 82.9474 96.3827 90.0117 88.9686 96L71.1749 81.4035C77.0135 72.9825 82.1106 64.1871 86.4664 55.0176C90.7294 45.9415 92.861 36.2105 92.861 25.8246V-1.42762e-06H124ZM52.8251 -1.42762e-06V25.2632C52.8251 32.9357 51.4813 41.076 48.7937 49.6842C46.0135 58.386 42.0284 66.7602 36.8386 74.807C31.5561 82.9474 25.2078 90.0117 17.7937 96L-3.71302e-07 81.4035C5.83857 72.9825 10.9357 64.1871 15.2915 55.0176C19.5546 45.9415 21.6861 36.2105 21.6861 25.8246V-1.42762e-06H52.8251Z' fill='%23267AFF'/%3E%3C/svg%3E%0A");
            background-size: 100% 100%;
            opacity: .1;
            @include mobile {
                width: 89px;
                height: 68px;
                right: 16px;
                bottom: 16px;
            }
        }
        &-message {
            font-size: 32px;
            line-height: 1.3;
            @include mobile {
                font-size: 22px;
            }
            &::before {
                content: '“';
            }
            &::after {
                content: '”';
            }
        }
        &-author {
            margin-top: 48px;
            line-height: 1.5;
            font-weight: 500;
        }
    }
}

.block-cta {
    // overflow: hidden;
    // position: relative;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left center;
        }
    }

    .banner {
        min-height: 312px;
        @include mobile {
            min-height: 178px;
        }
    }

    .block-title {
        max-width: 510px;
        @include mobile {
            max-width: 280px;
        }
    }
}

.block-team {
    &:first-of-type {
        padding-top: 168px !important;
        @include mobile {
            padding-top: 128px !important;
            padding-bottom: 72px !important;
        }
    }
    &:has(.team-list:empty) {
        display: none;
    }
    .team-list {
        margin-top: 48px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 36px;
        column-gap: 30px;
        @include mobile {
            margin-top: 24px;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            row-gap: 24px;
        }
    }

    .team-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.3;
        cursor: pointer;

        @media (hover: hover) {
            &:hover {
                .team-item-banner {
                    &::after {
                        opacity: 1;
                    }
                }
                .team-item-descr {
                    top: 0;
                }
                .team-item-readmore {
                    opacity: 1;
                }
                .team-item-name {
                    color: $blue;
                    font-weight: 600;
                }
            }
        }

        * {
            pointer-events: none;
        }

        &-banner {
            position: relative;
            overflow: hidden;
            border-radius: 24px;
            width: 100%;
            // font-size: 16px;
            line-height: 1.5;
            color: #fff;
            // height: 288px;
            padding-bottom: 100%;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                pointer-events: none;
                z-index: 2;
                background-color: $blue;
                opacity: 0;
                transition: $duration;
            }
            img {
                width: 100%;
                // height: 288px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                z-index: 1;
            }
        }
        &-descr {
            position: absolute;
            top: -100%;
            left: 0;
            right: 0;
            height: 100%;
            z-index: 3;
            padding: 24px 24px 48px;
            transition: $duration;
            @include mobile {
                // display: none;
                font-size: 9px;
                padding: 12px;
            }
            span {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
        &-readmore {
            text-transform: uppercase;
            position: absolute;
            z-index: 4;
            bottom: 24px;
            right: 24px;
            opacity: 0;
            transition: $duration;
            // cursor: pointer;
            @include mobile {
                font-size: 14px;
                bottom: 12px;
                right: 12px;
                left: 12px;
                text-align: center;
            }
        }
        &-name {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            // line-height: 1.3;
            @include tablet {
                font-size: 20px;
            }
            @include mobile {
                margin-top: 12px;
                font-size: 16px;
            }
        }
        &-position {
            margin-top: 12px;
            text-align: center;
            // line-height: 1.3;
            @include mobile {
                margin-top: 8px;
                font-size: 12px;
            }
        }
    }
}

.block-contacts {
    padding-top: 196px;
    padding-bottom: 116px;
    @include responsive {
        padding-top: 180px;
    }
    @include mobile {
        padding-top: 128px;
        padding-bottom: 72px;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        @include responsive {
            grid-template-columns: auto 605px;
        }
        @include tablet {
            grid-template-columns: 1fr;
            row-gap: 36px;
        }
    }
    .text-col {
        color: $text-darker;
    }
    .contacts-title {
        font-size: 72px;
        line-height: 1.3;
        letter-spacing: -3%;
        @include responsive {
            font-size: 64px;
        }
        @include maxw1280 {
            font-size: 56px;
        }
        @include tablet {
            font-size: 48px;
        }
        @include mobile {
            font-size: 30px;
            letter-spacing: 0;
        }
    }
    .contacts-title-descr {
        margin-top: 16px;
        font-size: 18px;
        line-height: 28px;
        @include mobile {
            margin-top: 14px;
            font-size: 15px;
        }
    }
    .form-col {
        padding: 32px;
        border-radius: 24px;
        width: 100%;
        background-color: $dark-bg;
        background-image: url('../img/contact-form-figure.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        @include mobile {
            padding: 24px;
        }
    }
    .form-title {
        font-size: 36px;
        line-height: 1.33;
        letter-spacing: -3%;
        @include tablet {
            font-size: 32px;
        }
        @include mobile {
            font-size: 30px;
            line-height: 1.2;
        }
    }
    .form {
        margin-top: 24px;
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 16px;
        @include mobile {
            grid-template-columns: 1fr;
        }
    }
    .input-wrapper {
        display: flex;
        flex-direction: column-reverse;
        &:has(#input-phone),
        &:has(#input-message) {
            grid-column: span 2;
            @include mobile {
                grid-column: initial;
            }
        }
        label {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 8px;
            @include mobile {
                font-size: 14px;
            }
        }
        *:is(input, textarea) {
            display: block;
            width: 100%;
            font-size: 16px;
            border: 1px solid #E5E9EC;
            background-color: #fff;
            padding-left: 24px;
            padding-right: 24px;
            @include mobile {
                padding-left: 16px;
                padding-right: 16px;
            }
            &::placeholder {
                opacity: 1;
                color: rgba($text-darker, .5);
            }
        }
        input {
            height: 50px;
            border-radius: 50px;
            // padding-left: 24px;
            // padding-right: 24px;
            // @include mobile {
            //     padding-left: 16px;
            //     padding-right: 16px;
            // }
        }
        textarea {
            padding: 16px;
            height: 96px;
            border-radius: 8px;
            resize: none;
        }
    }

    .btn {
        margin-top: 20px;
        place-self: end;
        grid-column: 2;
        @include mobile {
            grid-column: initial;
        }
    }
}